
/* Contenedor general */
.app {
    min-height: 100vh;
    background: var(--bg-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
    background: var(--img-fondo);
}



.info {
    display: flex;
    flex-direction: row;
    min-height: 83vh;
    /* para que el borde llegue hasta el fondo */
    font-size: large;

}

.izq {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-right: solid #6366f1 3px;
    padding: 2%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*opacity: 0.6; 
        filter:blur(5px);*/
    /*Arreglar fondo*/
}


.derecha {
    display: flex;
    width: 40vw;
    background-image: url(img/lollogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.castasDiv {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* siempre 2 columnas */

    margin-top: 3%;
    /* separación entre cartas */
    margin-top: 2rem;
    justify-items: stretch
}

.carta {
    margin: 2%;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}



.carta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: lightblue;
}