/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    transition: background 0.3s;
    border-bottom: solid var(--bg-dark) 3px;
}


.nav {
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}


.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 100%;
}