.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 13%;
     height: auto;
    border: solid lightsalmon 3px;
    border-radius: 20px;
    padding: 2%;
    transition: transform 0.5s ease;
    background-color: hsla(166, 18%, 77%, 0.3);

}

.equipo:hover {
    transform: scale(1.15);
}

.cont-equipos {
    padding: 2%;
    
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.containerGrande {
  

    display: flex;
    flex-direction: column;
    align-items: center;
  


}

.logonombre {
    text-align: center;

}

.logoLiga {
    width: 30%;
    height: auto;
}

.logoEquipo{
    width: 40%;
    height: auto;
}