.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border: solid lightsalmon 3px;
    border-radius: 20px;
    padding: 2%;
    transition: transform 0.5s ease;
    background-color: hsla(166, 18%, 77%, 0.3);

}

.equipo:hover {
    transform: scale(1.20);
}

.cont-equipos {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.containerGrande {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.logonombre {
    text-align: center;

}

.logoLiga {
    width: 50%;
    height: auto;
}