:root {
    margin: 0;
    --bg-light: #ffffff;
    --bg-dark: #0f172a;
    --text-light: #0f172a;
    --text-dark: #f8fafc;
    --primary: #6366f1;
    font-family: 'Times New Roman', Times, serif;
    --img-fondo: linear-gradient(300deg, var(--bg-dark) 0%, var(--bg-light) 70%);

}

body {
    margin: 0;
}

/* Contenedor general */
.app {
    min-height: 100vh;
    background: var(--bg-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
    background: var(--img-fondo);
}


/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo img {

    width: 10%;
    height: 10%;

}


.content {

    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.8fr;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 3%;
    padding: 3%;
}

.container1 {
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    border: solid lightsalmon 2px;
    box-shadow: inset 0 0 5px lightsalmon, 0 0 10px lightsalmon;
    min-height: 0;
    min-width: 0;


}

.container2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 41px;
    min-height: 0;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;


}

.noticia {
    display: flex;
    flex-direction: column;
    border: solid rgb(255, 255, 0) 5px;
    border-radius: 5%;

    box-shadow: inset 0 0 2.5px yellow, 0 0 5px yellow;

    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;

}

.fotonNoticia {
    max-width: 200px;
    height: auto;
    border-radius: 5%;
}

.noticia:hover {
    transform: scale(1.15);
    border: tr;


}

.container3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    border: solid lightsalmon 2px;
    box-shadow: inset 0 0 5px lightsalmon, 0 0 10px lightsalmon;
    min-height: 0;
    margin-top: 90px;
    height: 55%;
    min-width: 0;
}

.icono {
    width: 4vh;
    height: 4vh;
}


.container4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    border: solid lightsalmon 2px;

    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    gap: 3%;
    min-height: 0;
    min-width: 0;
}

.container5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    border: solid lightsalmon 2px;
    min-height: 0;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continente {
    transition: transform 0.5s ease;
}

.continente:hover {
    transform: scale(1.25);
}

.logoea {
    width: 100%;
    height: auto;
}