:root {
    margin: 0;
    --bg-light: #ffffff;
    --bg-dark: #0f172a;
    --text-light: #0f172a;
    --text-dark: #f8fafc;
    --primary: #6366f1;
    font-family: 'Times New Roman', Times, serif;
    --img-fondo: url('img/abstract_background_inverted.png');

}

body {
    margin: 0;
}

/* Contenedor general */
.app {
    min-height: 100vh;
    background: var(--bg-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
}

/* Modo oscuro */
#theme-toggle:checked~.app {
    background: var(--bg-dark);
    --img-fondo: url(img/fondo\ abstracto.png);
    color: var(--text-dark);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    transition: background 0.3s;
    border-bottom: solid var(--bg-dark) 3px;
}

#theme-toggle:checked~.app .header {
    background: rgba(15, 23, 42, 0.85);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo img {

    width: 10%;
    height: 10%;

}

/* Nav */
.nav {
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

/* Botón tema */
.theme-btn {
    width: 42px;
    height: 42px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;

}

.theme-btn:hover {
    background: var(--primary);
    transform: scale(1.1);
}

/* Iconos */


#theme-toggle:checked~.app .moon {
    display: none;

}

#theme-toggle:checked~.app .sun {
    display: inline;
}

.content {

    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.8fr;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 3%;
    padding: 3%;
}

.container1 {
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    border: solid lightsalmon 2px;
    min-height: 0;
    min-width: 0;

}

.container2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    border: solid lightsalmon 2px;
    min-height: 0;
    min-width: 0;
}

.container3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    border: solid lightsalmon 2px;
    min-height: 0;
    min-width: 0;
}



.icono {
    width: 3vh;
    height: 3vh;
}

/* ===== CARRUSEL ===== */
.carousel-css {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-css input {
    display: none;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
}

.slides img {
    flex: 0 0 100%;
    height: 100%;
    object-fit: contain;
}


/* Movimiento */
#slide1:checked~.slides {
    transform: translateX(0%);
}

#slide2:checked~.slides {
    transform: translateX(-33.333%);
}

#slide3:checked~.slides {
    transform: translateX(-66.666%);
}

/* Indicadores */
.controls {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.container4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    border: solid lightsalmon 2px;
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    gap: 3%;
    min-height: 0;
    min-width: 0;
}

.container5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    border: solid lightsalmon 2px;
    min-height: 0;
    min-width: 0;
}

.controls label {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.controls label:hover {
    background: white;
}

/* Indicador activo */
#slide1:checked~.controls label[for="slide1"],
#slide2:checked~.controls label[for="slide2"],
#slide3:checked~.controls label[for="slide3"] {
    background: var(--primary);
}

.info {
    display: flex;
    flex-direction: row;
    min-height: 83vh;
    /* para que el borde llegue hasta el fondo */
    font-size: large;

}

.izq {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-right: solid #6366f1 3px;
    padding: 2%;
    background-image: var(--img-fondo);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*opacity: 0.6; 
        filter:blur(5px);*/
    /*Arreglar fondo*/
}


.derecha {
    display: flex;
    width: 40vw;
    background-image: url(img/lollogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.castasDiv {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* siempre 2 columnas */

    margin-top: 3%;
    /* separación entre cartas */
    margin-top: 2rem;
    justify-items: stretch
}

.carta {
    margin: 2%;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}



.carta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: lightblue;
}