
.circulo{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: dotted blue 3px;
    border-radius:  50% ;
    animation:
            slide-in 5s forwards,
            slide-out 5s forwards 5s,
            slide-put 5s forwards 10s,
            slide-center 5s forwards 15s,
            color 3s forwards 20s;
}
/* ANIMACIÓN 1: slide-in */
@keyframes slide-in { 
    from {
        transform: translateX(100vw); /* antes estaba margin-left: 100% */
        width: 20%;
        background-color: aquamarine;
    }

    25% {
        background-color: greenyellow;
    }
    
    50% {
        background-color: yellow;
    }

    75% {
        background-color: red;
    }

    to {
        transform: translateX(0);
        width: 10%;
        background-color: rgb(30, 78, 210);
    }
}

/* ANIMACIÓN 2: slide-out */
@keyframes slide-out {
    from {
        transform: translate(0, 0);
        width: 10%;
        background-color: rgb(30, 78, 210);
    }

    to {
        transform: translate(0, 90vh); /* antes margin-top */
        width: 5%;
        background-color: rgb(36, 210, 30);
    }

}

/* ANIMACIÓN 3: slide-put */
@keyframes slide-put {
    from {
        transform: translate(0, 90vh);
        width: 5%;
        background-color: rgb(36, 210, 30);
    }

    to {
        transform: translate(90vw, 90vh); /* antes margin-left + margin-top */
        width: 8%;
        background-color: rgb(210, 192, 30);
    }
}

/* ANIMACIÓN 4: slide-center */
@keyframes slide-center {
    from {
        transform: translate(90vw, 90vh);
        width: 8%;
        background-color: rgb(210, 192, 30);
    }

    to {
        transform: translate(50vw, 40vh); /* centro aproximado */
        width: 5%;
        background-color: rgb(30, 210, 126);
    }


}


@keyframes color{

    from {
        transform: translate(50vw, 40vh); /* centro aproximado */
        width: 5%;
        background-color: rgb(30, 210, 126);  
    }

    to{
        height: 5%;
        width: 5%;
        background-color: violet;
    }

}
